.background-image{
    background-image: url('../images/sky.jpg');
    height: 1000px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}